/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reset and default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ffffff;
}

/* Page layout */
.registration-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
}

.registration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; /* Increase the max-width to accommodate two columns */
}

/* Logo styling */
.logo {
    width: 150px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

/* Header styling */
h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

/* Form layout */
.form-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.column {
    flex: 1;
    margin-right: 10px;
}

/* Remove margin-right from the last column */
.column:last-child {
    margin-right: 0;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Submit button styling */
.register-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ff7043;
    color: white;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: 100%;
}

.register-btn:hover {
    background-color: #ff5722;
}
